$font-stack: "Source Sans Pro", Helvetica, sans-serif;
$font-headers: 'Fjalla One', sans-serif;
$primary-color: #ee4d21;
$secondary-color: #43484f;
$body-bg: #f2f2f2;
$img-path: '/img/';
$style1: #ec2c41;
$style2: #c123c5;
$style3: #623dc4;
$style4: #366ee1;
$style5: #1599ee;
$style6: $primary-color;
$style7: $secondary-color;
$style8: #FFEA03;
$style9: #63d13e;


body {
    height: 100%;
    background-color: $body-bg;
    // background: -moz-linear-gradient(0deg, $secondary-color 25%, $primary-color 75%);
    // background: -webkit-linear-gradient(0deg, $secondary-color 25%, $primary-color 75%);
    // background: -ms-linear-gradient(0deg, $secondary-color 25%, $primary-color 75%);
    // background: linear-gradient(0deg, $secondary-color 25%, $primary-color 75%);
    font-family: $font-stack;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.65;
    color: #393939;
    position: relative;
    padding-top:40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-headers;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    color: $primary-color;
}

.btn-sbt,
a.btn-sbt {
    padding: 20px 26px;
    font-size: 22px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.btn-sbt:hover,
.btn-sbt:active,
.btn-sbt:visited,
a.btn-sbt:hover,
a.btn-sbt:active,
a.btn-sbt:visited {
    background-color: #fff;
    border-color: #fff;
    color: $secondary-color;
}


.btn-subsribe,
a.btn-subsribe {
    padding: 20px 26px;
    font-size: 22px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.btn-subsribe:hover,
.btn-subsribe:active,
.btn-subsribe:visited,
a.btn-subsribe:hover,
a.btn-subsribe:active,
a.btn-subsribe:visited {
    background-color: $primary-color;;
    border-color: #fff;
    color:#fff;
}


.label-sbt,
a.label-sbt,
.label-sbt:hover,
.label-sbt:active,
.label-sbt:visited,
a.label-sbt:hover,
a.label-sbt:active,
a.label-sbt:visited {
    background-color: $secondary-color;
    color: #fff;
}



.font1, .statistics li .icon.font1{font-size:1em;line-height:1.5em;}
.font1_1, .statistics li .icon.font1_1{font-size:1.1em;line-height:1.5em;}

.navbar-brand{padding:5px 15px 0 15px;;}
.navbar-brand.logo img{max-height:40px;}
.navbar-brand.logo h1{margin:2px 0 0 0;}
.navbar-brand.logo h1 span{color: $primary-color}
.navbar-default .navbar-nav>li>a{font-family: $font-headers;text-transform:uppercase;font-weight:normal;}

.navbar-default .navbar-nav>li:hover>a.style1{color:$style1}
.navbar-default .navbar-nav>li:hover>a.style2{color:$style2}
.navbar-default .navbar-nav>li:hover>a.style3{color:$style3}
.navbar-default .navbar-nav>li:hover>a.style4{color:$style4}
.navbar-default .navbar-nav>li:hover>a.style5{color:$style5}
.navbar-default .navbar-nav>li:hover>a.style6{color:$style6}
.navbar-default .navbar-nav>li:hover>a.style7{color:$style7}
.navbar-default .navbar-nav>li:hover>a.style8{color:$style8}



.donate-text {
    background-color:$primary-color;
    padding: 10px;
    color: #ffffff;
}

section{padding:40px 0;margin:0;display:block;}
section.first{padding-bottom:0;}
section.style1{background:$style1}
section.style2{background:$style2}
section.style3{background:$style3}
section.style4{background:$style4}
section.style5{background:$style5}
section.style6{background:$style6}
section.style7{background:$style7}
section.style1, section.style2, section.style3, section.style4, section.style5, section.style6, section.style7{
    color:#fff;
}

section h2{margin-bottom:25px;}

.img-mainpost{margin-bottom:20px;}

.bg-img-1 {background: url(../img/little-2176130_1920.jpg);background-size:cover;background-position: top right; position:relative;min-height:400px;}
.home-wrapper {color: #ffffff;padding:20px 0px;}
.home-wrapper h1{color:$primary-color;margin-bottom:0;text-transform:uppercase;} /*text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);*/
.home-wrapper h3{color:$secondary-color;margin-top:0;text-transform:uppercase;font-size:18px;}
.home-wrapper p {line-height: 26px;margin-top: 30px;color: #eee;margin-bottom: 40px;font-size: 16px;}
.intro {background-color: #FFFFFF;padding: 30px;border-radius: 10px;border-bottom: 0;margin-top:5%;}
.intro .topbar {background-color:$primary-color;color: #fff;padding:20px;display: block;}
.intro .topbar:hover{background-color:$secondary-color;color: #fff;padding:20px;display: block;}
.intro a{color:#fff;text-decoration:none;}
.intro h3, .intro a h3{font-size:2em;font-weight:normal;text-transform: uppercase;margin: 0;color:#fff;}

.hp-logo img{max-width:200px;}


.img-circle {
    border: 1px solid $primary-color;
    padding: 1px;
    background: $primary-color;
}

.img-circle.style1 {
    border: 1px solid $style1;
    padding: 1px;
    background: $style1;
}
.img-circle.style2 {
    border: 1px solid $style2;
    padding: 1px;
    background: $style2;
}
.img-circle.style3 {
    border: 1px solid $style3;
    padding: 1px;
    background: $style3;
}
.img-circle.style4 {
    border: 1px solid $style4;
    padding: 1px;
    background: $style4;
}
.img-circle.style5 {
    border: 1px solid $style5;
    padding: 1px;
    background: $style5;
}
.img-circle.style6 {
    border: 1px solid $style6;
    padding: 1px;
    background: $style6;
}
.img-circle.style7 {
    border: 1px solid $style7;
    padding: 1px;
    background: $style7;
}

/* Statistics */

.statistics {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    cursor: default;
}

.statistics li {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1.5em;
    color: #ffffff;
    text-align: center;
}

.statistics li.style1 {
    background-color: $style1;
}

.statistics li.style2 {
    background-color: $style2;
}

.statistics li.style3 {
    background-color: $style3;
}

.statistics li.style4 {
    background-color: $style4;
}

.statistics li.style5 {
    background-color: $style5;
}
.statistics li.style6 {
    background-color: $style6;
}
.statistics li.style7 {
    background-color: $style7;
}

.statistics li strong,
.statistics li b {
    display: block;
    font-size: 2em;
    line-height: 1.1;
    color: inherit !important;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.statistics li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.statistics li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.statistics li .icon {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.3;
}

.statistics li .icon:before {
    font-size: 1.5em;
    line-height: 1.3;
}

@media screen and (max-width: 980px) {
    .statistics li strong,
    .statistics li b {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 736px) {
    .statistics {
        display: block;
        width: 20em;
        max-width: 100%;
        margin: 0 auto 2em auto;
    }
    .statistics li:first-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
    }
    .statistics li:last-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }
    .statistics li .icon:before {
        font-size: 3.75rem;
    }
    .statistics li strong,
    .statistics li b {
        font-size: 2.5em;
    }
}


.section-cta{background:$style8}
.section-cta h2{color:$secondary-color;}

.subscribe-form form{
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}

.subscribe-form input {
  padding: 15px 20px;
  width: 100%;
  font-size: 17px;
  color: #4c5667 !important;
  border: none;
  outline: none !important;
  padding-right: 150px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}
.subscribe-form button {
  position: absolute;
  text-transform: uppercase;
  top: 8px;
  right: 8px;
  outline: none !important;
  border-radius: 30px;
  font-size: 16px;
  padding: 9px 30px;
}


/* Features */

.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: calc(100% + 2em);
    margin: 0 0 3em -2em;
    padding: 0;
    list-style: none;
}

.features li {
    width: calc(33.33333% - 2em);
    margin-left: 2em;
    margin-top: 3em;
    padding: 0;
}

.features li:nth-child(1),
.features li:nth-child(2),
.features li:nth-child(3) {
    margin-top: 0;
}

.features li >:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {
    .features li {
        width: calc(50% - 2em);
    }
    .features li:nth-child(3) {
        margin-top: 3em;
    }
}

@media screen and (max-width: 736px) {
    .features {
        width: 100%;
        margin: 0 0 2em 0;
    }
    .features li {
        width: 100%;
        margin-left: 0;
        margin-top: 2em;
    }
    .features li:nth-child(2),
    .features li:nth-child(3) {
        margin-top: 2em;
    }
}


/* Icon */

.icon {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.major {
    border: solid 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 0.65em;
    margin: 0 0 2em 0;
    cursor: default;
}

.icon.major:before {
    display: inline-block;
    font-size: 6.25rem;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.2em;
    border-radius: 100%;
    border: solid 1px;
    text-align: center;
    background: #ddd;
}

.icon.alt {
    display: inline-block;
    border: solid 1px;
    border-radius: 100%;
}

.icon.alt:before {
    display: block;
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
}

.icon.style1 {
    color: $style1;
}

.icon.style2 {
    color: $style2;
}

.icon.style3 {
    color: $style3;
}

.icon.style4 {
    color: $style4;
}

.icon.style5 {
    color: $style5;
}

.icon-push{
  padding:10px 20%;
}

@media screen and (max-width: 1680px) {
    .icon.major:before {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .icon.major:before {
        font-size: 4.75rem;
    }
}

@media screen and (max-width: 736px) {
    .icon.major {
        margin: 0 0 1.5em 0;
        padding: 0.35em;
    }
    .icon.major:before {
        font-size: 3.5rem;
    }
}

.icon.major {
    border-color: #bbb;
    background:#fff;
}

.icon.major:before {
    border-color: #ddd;
}

.icon.alt {
    border-color: rgba(255, 255, 255, 0.35);
    color: #ffffff;
}

.icon.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.icon.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}



footer{background:$secondary-color;padding:40px 0;}
footer .container {
    background: transparent;
    border-radius: 0;
    color: #fff;
}
footer{font-size:12pt;}
footer a, footer a:hover, footer a:active,footer a:link, footer a:visited{color:$style8;}

@media screen and (max-width: 450px) {
    .footerbox{text-align: center;}
}

/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
    color: #3b5998;
}
.fa-facebook-official:hover {
    background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}
.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
    color: #dd4b39;
}
.fa-google-plus:hover {
    background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
    color: #cb2027;
}
.fa-pinterest-p:hover {
    background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
    color: #32506d;
}
.fa-tumblr:hover {
    background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}
.fa-reddit-alien:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}
.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}
.fa-envelope:hover {
    background-color: #444444;
}

.subscribe-success{
padding: 15px 20px;
width: 100%;
font-size: 17px;
outline: none !important;
padding-right: 30px;
padding-left: 30px;
background-color: $style9;
border-color: #4cae4c;
border-radius: 30px;
color:#fff !important;
font-weight: bold;
text-align:center;
}
.subcribe-error{
    color:#d9534f !important;
}

@keyframes picIn{ 0%{transform:translateX(-100%)} 100%{transform:translateX(0)} }
.pic-animate-in{animation:2.5s ease-out 0s 1 picIn}
@media screen and (prefers-reduced-motion: reduce){
    .pic-animate-in{animation:none}
}
