<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %} {% include javascript.html %}
</head>

<body id="home" data-spy="scroll" data-target=".navbar-default" data-offset="80">
    <script type="text/javascript">
    // add google analytics OR Google tag manager
    </script>

    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- [begin] header -->
                {% include mainmenu.html %}
                <!-- [end] header -->
            </div>
        </div><!-- end row -->

        <!-- [begin] content / ALL WE NEED IS THE ROWS! -->
        {{ content }}
        <!-- [end] content -->

    </div><!-- end container -->

    
    <!-- [begin] footer -->
    {% include footer.html %}
    <!-- [end] footer -->
</body>
</html>